.reveal section img {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
}
.reveal .slides {
  text-align: left;
}
.reveal p {
  font-size: 32px;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.reveal code {
  color: #657b83;
  background: #fdf6e3;
}
